.usernameBox {
  display: flex;
}

#toLoginBtn {
  width: 100px;
  height: 40px;
  font-size: 15px;
  text-align: center;
}

#toLoginBtn:hover {
  background-color: #c7c2c2;
}

button {
  background-color: #427c72;
  width: 70px;
  height: 30px;
  color: white;
}
