table {
  border-collapse: collapse;
  margin-bottom: 10px;
}

th,
td {
  padding: 3px 10px;
}

.off-screen {
  display: none;
}

#nav {
  display: flex;
  width: 80%;
  margin-left: 10%;
  text-align: center;
}

#nav a.active {
  background: #333;
  color: #fff;
}

.pagination {
  background-color: #427c72;
  width: 60px;
  color: white;
  transition: 0.5s;
}

.pagination:hover {
  background-color: #346058;
}
